distribution_code_name: Weasel
distribution_name: "小狼毫"
distribution_version: 0.16.1
install_time: "Thu Sep 19 10:26:09 2024"
installation_id: "windows11-kbz-pc-i71165G7"
rime_version: 1.11.2

sync_dir: "C:\\Users\\14012\\OneDrive\\rime-save"
